<h2>new workout item</h2>
<%= simple_form_for(@workout, :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :starttime, :autofocus => true, :required => true %> 
  <%= f.input :endtime %>
  <%= f.input :length, :required => true %>
  <%= f.input :what, :required => true %>
  <%= f.input :heart_rate %> 
  <%= f.input :intensity %> 
  <%= f.input :variety %>
  <%= f.input :location %> 
  <%= f.button :submit, 'submit', :class => 'btn-primary' %>
<% end %>
